.filters {
    display: flex;
    margin-bottom: 20px;
}

.filters fieldset {
    flex: none;
    width: fit-content;
    padding-right: 20px;
    margin-right: 20px;
}

.filters fieldset label {
    display: block;
}

.filters fieldset hr {
    margin: 2px 0;
}

#output_table {
    border-collapse: collapse;
}

#output_table td, #output_table th {
    padding: 4px 8px;
    text-align: center;
    border: 1px solid #cccccc;
}

#output_table tr:hover {
    background-color: #eeeeee;
}

.graph {
    display: flex;
    margin-bottom: 20px;
}

.tr_selected {
    background-color: #fffddd;
}