/* ---- 另一种实现方式  ----
ul {
    overflow: auto;
    list-style-type: none;
    padding-left: 0px;
}

.horizontal_list li {
    float: left;
    margin-right: 2em;
}
*/

ul {
    list-style-type: none;
    padding-left: 0;
}

.horizontal_list li {
    display: inline;
    margin-right: 2em;
}

.vertical_list li {
    margin-bottom: 1em;
}

.vertical_list b {
    display: block;
}